:root {
    --cor1: #9E283F;
    --cor2: #FF738F;
    --cor3: #EB5371;
    --cor4: #189E2F;
    --cor5: #52EB6C;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

}

body {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;

    width: 100%;
    max-width: 426px;
    min-width: 320px;
    height: 101%;
}

main img {
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

main .btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;

    z-index: 10;
    top: 55%;
    right: 5%;
    padding: 5px;
}

.btns input {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
    background-color: #fa91a6;
    color: white;

    font-size: 0.7em;
    padding: 10px 5px;
    border-radius: 10px;
}

.btns input:hover {
    background-color: #df7a8e;
}




.grass {
    position: absolute;

    z-index: 1;
    bottom: -5%;
    width: 100%;
}

.grass img {
    width: 100%;
}

.tree {
    position: absolute;

    z-index: 1;
    bottom: 10%;
    left: 0%;
    width: 55%;
}

.tree img {
    width: 100%;
}

.sarah {
    position: absolute;

    z-index: 1;
    bottom: 10%;
    right: 20%;
    width: 15%;

    transform: rotateY(180deg);
}

.sarah img {
    width: 100%;
}