:root {
    --cor1: #9E283F;
    --cor2: #FF738F;
    --cor3: #EB5371;
    --cor4: #189E2F;
    --cor5: #52EB6C;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

}

body {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;

    width: 100%;
    max-width: 500px;
    min-width: 320px;
    height: 92%;
}

main img {
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

main .btns {
    position: absolute;
    display: flex;

    gap: 3px;
    z-index: 10;
    bottom: 10%;
    left: 50%;
    padding: 5px;

    transform: translateX(-50%);
}

.btns input {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
    background-image: url("../srcs/btnBg.png");
    background-position-y: bottom;

    width: 120px;
    font-size: 0.7em;
    padding: 10px 5px;
    border-radius: 10px;

    box-shadow: 0 0 10px #0000005e;
}

.btns input:hover {
    background-color: ;
}